@model EcommerceMVC.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Send Password Reset Link</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
