<h3>Product List</h3>
<table border="1">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Photo</th>
		<th>Price</th>
		<th>Action</th>
	</tr>
	@foreach(var productcart in ViewBag.productcarts) {
		<tr>
			<td>@productcart.Id</td>
			<td>@productcart.Name</td>
			<td>
				<img src="~/images/@productcart.Photo" width="70" height ="70" />
			</td>
			<td>@productcart.Price</td>
			<td>
				<a asp-controller="cart" asp-action="buy" asp-route-id="@productcart.Id">Buy Now</a>
			</td>
		</tr>
	}
</table>